<form method="POST">
    <input placeholder="Display Name" name="name">
    <input placeholder="Stack Exchange Site" name="site">
    <input placeholder="User_id" name="user_id">
    <input type="submit">
</form>

  <h1>We could not find any user with a display name containing: {{name}}</h1>
  <h2>Please fill in another user or just find the specific user_id on the stack exchange website. Navigate to this link: <a href="https://stackoverflow.com/users">https://stackoverflow.com/users</a> and find your specific user_id and fill the field above. 
    If you are searching for a user_id from any other part of stack exchange please use the according site</h2>

