<form method="POST">
    <input placeholder="Display Name" name="name">
    <input placeholder="Stack Exchange Site" name="site">
    <input placeholder="User_id" name="user_id">
    <input type="submit">
</form>

{% if name %}
  <h1>The data for user: {{name}}</h1>
{% endif %}

<body>{{users}} {{user_id}}
  
  <p>This user has a total of: {{questions[0]}} questions on the site</p>
  <p>The latest question asked for this user was on: {{questions[1]}}</p>

  <table style="border:1px solid black; padding: 10px; border-spacing: 15px;">
    <tr>
    {% for key,value in badges.items() %}
      <th> {{ key }} </th>
    {% endfor %}
    </tr>
    <tr>
      {% for key,value in badges.items() %}
        <td> {{ value }} </td>
      {% endfor %}
    </tr>
    </table>

 <img src={{question_url}} alt="QuestionChart">

 <img src={{posting_url}} alt="PostingChart">

 <img src={{answerTags_url}} alt="AnswerTags">

 <img src={{timeline}} alt="timeline">

 <table style="border:1px solid black; padding: 10px; border-spacing: 15px;">
  <tr>
  {% for key,value in tagAnswerers.items() %}
    <th> {{ key }} </th>
  {% endfor %}
  </tr>
  <tr>
    {% for key,value in tagAnswerers.items() %}
      <td> {{ value }} </td>
    {% endfor %}
  </tr>
  </table>

</body>